---
import { getCollection } from "astro:content";
import AppCard from "./AppCard.astro";

type AppInfo = {
  appName: string;
  appLogoUrl: string;
  minWidth: number;
  minHeight: number;
  answer: string;
  brandUrl?: string;
  logoOrientation: string;
};

const allAppInfo = await getCollection("AppInfo");
const sortedApps = allAppInfo.sort((a, b) => {
  return a.data.appName < b.data.appName
    ? -1
    : a.data.appName > b.data.appName
      ? 1
      : 0;
});
---

<div class="app-cards">
  {
    sortedApps.map((appInfo) => {
      const data: AppInfo = appInfo.data;
      return (
        <AppCard
          appName={data.appName}
          altText=""
          appLogoPath={data.appLogoUrl}
          appLogoOrientation={data.logoOrientation}
          appAnswer={data.answer}
        />
      );
    })
  }
</div>

<style>
  /** Flip Card implementation originally taken from: 
        https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/
    */
  .app-cards {
    --flip-time: 0.75s;
    display: grid;
    padding: var(--space-m);
    grid-gap: var(--space-m);
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
</style>
