---
import { getCollection } from "astro:content";

type AppInfo = {
  appName: string;
  appLogoUrl: string;
  answer: string;
};

const allAppInfo = await getCollection("AppInfo");
---

<div class="app-cards">
  {
    allAppInfo.map((appInfo) => {
      const data: AppInfo = appInfo.data;
      return (
        <a class="app-card" data-answer={data.answer} href="#">
          <div class="app-card-body">
            <div class="app-card-front">
              {appInfo.data.appLogoUrl ? (
                <img class="app-logo" src={data.appLogoUrl} width="50px" height="50px" alt="" />
              ) : (
                <></>
              )}
              <p>Is {data.appName} a dating app?</p>
            </div>
            <div class="app-card-back">
              <div class="app-answer">{data.answer}</div>
            </div>
          </div>
        </a>
      );
    })
  }
</div>

<style>
  /** Flip Card implementation originally taken from: 
        https://www.smashingmagazine.com/2020/02/magic-flip-cards-common-sizing-problem/
    */

  .app-logo {
    width: 100%;
    height: auto;
  }

  .app-cards {
    --flip-time: 0.75s;
    display: grid;
    padding: 1.5rem;
    grid-gap: 1.5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  a.app-card {
    text-decoration: none;
    cursor: default;
  }

  .app-card {
    perspective: 40rem;

    transition:
      z-index,
      transform calc(var(--flip-time) / 4);
    transition-delay: var(--flip-time), 0s;
    z-index: 0;
  }

  .app-card:hover {
    transition-delay: 0s;
    z-index: 1;
  }

  .app-card:active {
    transform: scale(0.75);
  }

  .app-card-body {
    display: flex;
    transform-style: preserve-3d;
    transition: var(--flip-time) transform;
  }

  .app-card:hover .app-card-body {
    transform: rotateX(-180deg);
  }
  .app-card:focus .app-card-body {
    transform: rotateX(-180deg);
  }

  .app-card-front,
  .app-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    min-width: 100%;

    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    padding: 1em;
    font-weight: bold;
    line-height: 1.1em;
    color: var(--app-card-text-color);
    background-color: var(--app-card-surface);
    border: .1em solid #5a3d2b;
    text-align: center;
    text-wrap: pretty;
  }

  .app-card-back {
    transform: rotateX(-180deg) translate(-100%, 0);
    border: .25em solid red;
  }

  .app-card[data-answer="Yes"] .app-card-back {
    border: .25em solid green;
  }

  .app-card[data-answer="Maybe"] .app-card-back {
    border: .25em solid yellow;
  }
</style>
