---

---

<footer>
  <p>
    Made with ❤️, ☕, and
    <img
      src="/astro-logo.svg"
      width="16px"
      height="16px"
      style="display: inline-block; width: 1em; height: auto;"
    /> in Chicago, IL, USA
  </p>
</footer>

<style>
  footer {
    padding: var(--space-xs);
    background-color: var(--footer-surface);
    color: var(--footer-text-color);
    font-size: var(--step--1);
    border-top: 0.1em solid var(--accent-color);
  }
</style>
