---

---

<div id="no-sounds">
  <audio id="sid-1" src="/audio/oh-hell-no.mp3" preload="auto"></audio>
</div>

<script>
  const noSounds: Array<HTMLMediaElement> = Array.from(
    document.querySelectorAll("#no-sounds > audio")
  );

  const soundAssetsSources = {
    "sid-2": "/audio/how-about-no.mp3",
    "sid-3": "/audio/oh-hell-nah-sung.mp3",
    "sid-4": "/audio/no-way-man.mp3",
    "sid-5": "/audio/aint-got-time.mp3",
  };

  window.addEventListener("load", () => {
    const soundContainer = document.getElementById("no-sounds");

    if (!soundContainer) {
      console.error("No sound container found in the DOM.");
      return;
    }

    Object.entries(soundAssetsSources).forEach(([id, src]) => {
      const audioElement = document.createElement("audio");
      audioElement.id = id;
      audioElement.src = src;
      audioElement.preload = "auto";
      audioElement.addEventListener("loadedmetadata", () => {
        noSounds.push(audioElement);
      });
      soundContainer.appendChild(audioElement);
    });
  });

  const playing = new Set();

  let prevSoundIdx: number = -1;

  const getNonRepeatingSoundIdx = (lastIdx: number) => {
    let idx = Math.floor(Math.random() * noSounds.length);
    return idx === lastIdx ? (lastIdx + 1) % noSounds.length : idx;
  };

  document.body.addEventListener("iiada-play-sound", async (event) => {
    const card = event.target as HTMLElement;

    if (card.dataset.answer === "No") {
      const soundIdx = getNonRepeatingSoundIdx(prevSoundIdx);
      prevSoundIdx = soundIdx;

      const sound = noSounds[soundIdx];
      if (sound) {
        if (playing.has(sound)) {
          sound.pause();
          playing.delete(sound);
        }
        const id = sound.id;
        card.dataset.sid = id;
        sound.muted = false;
        sound.currentTime = 0;
        sound.volume = 1;
        sound.play();
        playing.add(sound);
      }
    }
  });

  const fadeOut = (sound: HTMLMediaElement) => {
    const newVolume = sound.volume - 0.15;
    if (newVolume <= 0) {
      sound.pause();
      playing.delete(sound);
    } else if (playing.has(sound)) {
      sound.volume = newVolume;
      setTimeout(() => fadeOut(sound), 100);
    }
  };

  document.body.addEventListener("iiada-fade-sound", (event) => {
    const card = event.target as HTMLElement;
    const soundId = card.dataset.sid;
    if (soundId) {
      card.dataset.sid = "";
      const sound: HTMLMediaElement | null = document.getElementById(
        soundId
      ) as HTMLMediaElement;
      if (sound) {
        fadeOut(sound);
      }
    }
  });
</script>
