---

---

<div id="no-sounds">
  <audio id="sid-1" src="/audio/aint-got-time.mp3"></audio>
  <audio id="sid-2" src="/audio/how-about-no.mp3"></audio>
  <audio id="sid-3" src="/audio/oh-hell-nah-sung.mp3"></audio>
  <audio id="sid-4" src="/audio/no-way-man.mp3"></audio>
  <audio id="sid-5" src="/audio/oh-hell-no.mp3"></audio>
</div>

<script>
  const playing = new Set();

  let prevSoundIdx: number = -1;
  const noSounds: NodeListOf<HTMLMediaElement> =
    document.querySelectorAll("#no-sounds > audio");
  const getNonRepeatingSoundIdx = (prevSoundIdx: number) => {
    let idx = Math.floor(Math.random() * noSounds.length);
    return idx === prevSoundIdx
      ? (idx = (prevSoundIdx + 1) % noSounds.length)
      : idx;
  };

  document.body.addEventListener("iiada-play-sound", (event) => {
    const card = event.target as HTMLElement;

    if (card.dataset.answer === "No") {
      const soundIdx = getNonRepeatingSoundIdx(prevSoundIdx);
      prevSoundIdx = soundIdx;

      const sound = noSounds[soundIdx];
      if (sound) {
        if (playing.has(sound)) {
          sound.pause();
          playing.delete(sound);
        }
        const id = sound.attributes.getNamedItem("id")?.value || "";
        card.dataset.sid = id;
        sound.muted = false;
        sound.currentTime = 0;
        sound.volume = 1;
        sound.play();
        playing.add(sound);
      }
    }
  });

  const fadeOut = (sound: HTMLMediaElement) => {
    const newVolume = sound.volume - 0.15;
    if (newVolume <= 0) {
      sound.pause();
    } else if (playing.has(sound)) {
      sound.volume = newVolume;
      setTimeout(() => fadeOut(sound), 100);
    }
  };

  document.body.addEventListener("iiada-fade-sound", (event) => {
    const card = event.target as HTMLElement;
    const soundId = card.dataset.sid;
    if (soundId) {
      card.dataset.sid = "";
      const sound: HTMLMediaElement | null = document.getElementById(
        soundId
      ) as HTMLMediaElement;
      if (sound) {
        fadeOut(sound);
      }
    }
  });
</script>
