---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import MasterAudio from "../components/MasterAudio.astro";
import RainingWTFs from "../components/RainingWTFs.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Is It A Dating App?</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <MasterAudio />
    <RainingWTFs />
  </body>
</html>

<style>
  main {
    flex: auto;
    /* Note: bottom padding is larger to account for the sticky footer */
    padding: var(--space-m) var(--space-m) var(--space-xl-2xl);
  }
</style>
